
body {
    background: rgb(249, 250, 251);
}

#imagem img{
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;  
    max-width: 100%;
    height: auto;
    
}

.voltar {
    display: inline-block;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: rgb(43, 44, 63); 
   
}
.voltar:hover{
    background-color: rgb(15, 15, 18);
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}