
body {
    background: rgb(249, 250, 251);
}

#imagem img{
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 80vh;  
    max-width: 100%;
    height: auto;
    
}